*.csv
*.egg
*.egg-info/
*.ipynb
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.DS_Store
.Python
.cache
.coverage
.coverage.*
.dump/
.eggs/
.env
.idea/
.installed.cfg
.ipynb_checkpoints
.nox/
.python-version
.tox/
.venv/
.vscode/
__pycache__/
build/
cache/
coverage.xml
data/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
examples/data/
htmlcov/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile.svg
results/*
sdist/
target/
var/
venv/
