__pycache__/
.cache
.coverage
.coverage.*
.DS_Store
.dump/
.eggs/
.idea/
.installed.cfg
.ipynb_checkpoints
.nox/
.Python
.python-version
.tox/
.venv/
.vscode/
*.csv
*.egg
*.egg-info/
*.ipynb
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
/data-*/
/data/
build/
cache/
coverage.xml
deps
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
examples/data/
htmlcov/
lib/
lib64/
nosetests.xml
osm_cache/
parts/
pip-delete-this-directory.txt
pip-log.txt
profile.svg
results/
results/*
sdist/
target/
var/
venv/
