name: brokenspoke-analyzer

services:
  postgres:
    image: ghcr.io/gui/pgrouting:18.1-trixie-postgis-3.6.1-pgrouting-4.0.0
    shm_size: 1g
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRESQL_USERNAME: bna
      POSTGRESQL_PASSWORD: bna
      POSTGRESQL_DATABASE: bna
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "postgres", "-U", "postgres"]
      interval: 10s
      timeout: 60s
      retries: 6
      start_period: 10s
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql
    networks:
      - default

  bna-dev:
    profiles:
      - dev
    build:
      context: .
      target: dev
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/postgres
    image: ghcr.io/peopleforbikes/brokenspoke-analyzer:dev
    entrypoint: sleep infinity
    volumes:
      - ./:/usr/src/app
    networks:
      - default

volumes:
  postgres:
    external: false

networks:
  default:
    driver: bridge
