name: ci

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  # This is required for requesting the JWT.
  id-token: write
  # This is required for actions/checkout.
  contents: read

jobs:
  ci:
    uses: PeopleForBikes/.github/.github/workflows/ci-python-uv.yml@main
  lint-sql:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b #v7.2.0
        with:
          enable-cache: true
      - name: Set up Python
        run: uv python install
      - name: Setup the project
        run: just setup
      - name: Lint SQL files
        run: just lint-sql
