name: ci

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  # This is required for requesting the JWT.
  id-token: write
  # This is required for actions/checkout.
  contents: read

jobs:
  ci:
    uses: PeopleForBikes/.github/.github/workflows/ci-python-uv.yml@main
  lint-sql:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 #v7.1.3
        with:
          enable-cache: true
      - name: Set up Python
        run: uv python install
      - name: Setup the project
        run: just setup
      - name: Lint SQL files
        run: just lint-sql
