name: release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  # This is required for requesting the JWT.
  id-token: write
  # This is required for actions/checkout (read) and GitHub pages (write).
  contents: write
  # this is required to publish the packages..
  packages: write

jobs:
  docker:
    uses: PeopleForBikes/.github/.github/workflows/docker-build-publish-ghcr.yml@main
    with:
      push-to-ghcr: true
      push-to-ecr: true
      aws-region: us-west-2
    secrets:
      github-role: ${{ secrets.FEDERATED_GITHUB_ROLE_ARN_STAGING }}

  release:
    needs:
      - docker
    uses: PeopleForBikes/.github/.github/workflows/release-python-uv.yml@main

  release-dist:
    runs-on: ubuntu-latest
    needs:
      - release
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 #v7.1.3
        with:
          enable-cache: true
      - name: Set up Python
        run: uv python install
      - name: Setup the project
        run: uv sync --all-extras --dev
      - name: Build sdist and wheel
        run: uv build --sdist --wheel
      - name: Publish the release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: dist/*.*
